<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<title>登录</title>
<meta name=viewport
	content="width=device-width,initial-scale=1,maximum-scale=1">
	<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$.ajax({
				url: '/mobile/wx/getUser',
				type: 'POST',
				async: false,
				data: {token: getParam('token')},
				dataType: 'JSON',
				success: function(data){
					$('textarea').val(data.data);
					let user = eval('('+data.data+')');
					$('#head').prop('src', user.avatar);
					$('#name').html(user.nickname);
				},
				error: function(xmlhq, status, thr){
					console.log(xmlhq);
				}
			});
		});
		
		function getParam(paramName) { 
		    paramValue = "", isFound = !1; 
		    if (this.location.search.indexOf("?") == 0 && this.location.search.indexOf("=") > 1) { 
		        arrSource = unescape(this.location.search).substring(1, this.location.search.length).split("&"), i = 0; 
		        while (i < arrSource.length && !isFound) arrSource[i].indexOf("=") > 0 && arrSource[i].split("=")[0].toLowerCase() == paramName.toLowerCase() && (paramValue = arrSource[i].split("=")[1], isFound = !0), i++ 
		    } 
		    return paramValue == "" && (paramValue = null), paramValue 
		} 
	</script>
	<style type="text/css">
		textarea {
			width: 100%;
			height: 0;
		}
		#head {
			width: 100px;
			height: 100px;
		}
		div {
			text-align: center;
		}
	</style>
</head>
<body>
	<textarea>
		
	</textarea>
	<div style="margin-top: 10%;">
		<img id="head" src="">
	</div>
	<div>
		<label id="name"></label>
	</div>
</body>
</html>