<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<title>WX登录</title>
<meta name=viewport
	content="width=device-width,initial-scale=1,maximum-scale=1">
	<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$('#wxlogin').on('click', function(){
				wxlogin();
			});
		});
		
		var wxlogin = function() {
			var url = encodeURIComponent('http://www.huzhenquan.com/m/index.html');
			console.log("/mobile/wx/h5auth?url="+url)
			window.location.href = "/mobile/wx/h5auth?url="+url;
		}
	</script>
<style type="text/css">
.btn {
	width: 160px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -80px;
}
</style>
</head>
<body>
	<div style="width: 100%;height: 800px;">
		<input type="button" class="btn" value="WX授权登录测试" id="wxlogin">
	</div>
</body>
</html>