<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<title>登录</title>
<meta name=viewport
	content="width=device-width,initial-scale=1,maximum-scale=1">
	<script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$('#submit').on('click', function(){
				let name = $('#name').val();
				let password = $('#password').val();
				console.log(name);
				console.log(password);
				$.ajax({
					url: 'http://47.107.248.96/gerent/login',
					type: 'POST',
					async: false,
					data: {name: name, password: password},
					dataType: 'JSON',
					success: function(data){
						console.log(data);
					},
					error: function(xmlhq, status, thr){
						console.log(xmlhq);
					}
				});
			});
			$('#ccc').on('click', function(){
				cornTest();
			});
		});
		
		var cornTest = function() {
			$.ajax({
				url: 'http://47.107.248.96/mobile/dishesClass/list',
				type: 'POST',
				async: false,
				data: {shopId: 1},
				dataType: 'JSON',
				success: function(data){
					console.log(data);
				},
				error: function(xmlhq, status, thr){
					console.log(xmlhq);
				}
			});
		}
	</script>
</head>
<body>
	<div>
		<input type="text" id="name">
		<input type="password" id="password">
		<input type="button" value="aaaa" id="submit">
		<input type="button" value="ccc" id="ccc">
	</div>
</body>
</html>