<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Demo Chat ZWEI</title>
	<script src="md5.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/socket.io-1.2.1.js"></script>
	<script>
		var clientid = 'testclient2';
		var targetClientId = 'testclient1';

		var token = hex_md5("yummy" + new Date().getFullYear() + (new Date().getMonth() + 1) + new Date().getDate());
		var socket = io.connect('http://47.107.248.96:8888?clientid='+clientid+'&token=' + token);
		socket.on('connect',
			function() {
				output('<span class="connect-msg">Client has connected to the server!</span>');
			});

		socket.on('event', function(data) {
			console.log(data)
			output('<span class="username-msg">' + data.sourceClientId
				+ ':</span> ' + data.msgContent);
		});

		socket
		.on(
			'disconnect',
			function() {
				output('<span class="disconnect-msg">The client has disconnected!</span>');
			});

		function sendDisconnect() {
			socket.disconnect();
		}

		function sendMessage() {
			var message = $('#msg').val();
			$('#msg').val('');

			var jsonObject = {
				sourceClientId: clientid,
				targetClientId : targetClientId,
				msgContent : message
			};
			socket.emit('event', jsonObject);
		}

		function output(message) {
			var element = $("<div>" + " " + message + "</div>");
			$('#console').prepend(element);
		}

		$(document).keydown(function(e) {
			if (e.keyCode == 13) {
				$('#send').click();
			}
		});
	</script>
</head>

<body>

	<h1>Netty-socketio Demo Chat ZWEI</h1>

	<br />

	<div id="console" class="well"></div>

	<form class="well form-inline" onsubmit="return false;">
		<input id="msg" class="input-xlarge" type="text"
		placeholder="Type something..." />
		<button type="button" onClick="sendMessage()" class="btn" id="send">Send</button>
		<button type="button" onClick="sendDisconnect()" class="btn">Disconnect</button>
	</form>
</body>
</html>
