<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhefan.yummy.dao.DishesDAO">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zhefan.yummy.entity.Dishes">
		<id column="id" property="id" />
		<result column="gerent_id" property="gerentId" />
		<result column="shop_id" property="shopId" />
		<result column="dishes_class_id" property="dishesClassId" />
		<result column="dishes_name" property="dishesName" />
		<result column="dishes_img" property="dishesImg" />
		<result column="creation_time" property="creationTime" />
		<result column="creator" property="creator" />
		<result column="creator_id" property="creatorId" />
		<result column="status" property="status" />
		<result column="sold_out" property="soldOut" />
		<result column="serial_no" property="serialNo" />
		<result column="remark" property="remark" />
		<result column="dishes_price" property="dishesPrice" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gerent_id, shop_id, dishes_class_id, dishes_name, dishes_img, creation_time, creator, creator_id, status, sold_out, serial_no, remark, dishes_price
    </sql>

	<select id="selectPageFull" resultType="com.zhefan.yummy.vo.DishesVo">
		SELECT d.id, d.gerent_id gerentId, d.shop_id shopId, d.dishes_class_id dishesClassId, 
			d.dishes_name dishesName, d.dishes_img dishesImg, d.creation_time creationTime, d.creator, 
			d.creator_id creatorId, d.`status`, d.sold_out soldOut, d.serial_no serialNo, d.remark, d.dishes_price dishesPrice, 
			dc.dishes_class_name dishesClassName, dc.serial_no dishesClassSerialNo, dc.remark dishesClassRemark 
		FROM t_dishes d 
		JOIN t_dishes_class dc ON d.dishes_class_id = dc.id 
		WHERE dc.`status` = 1 AND d.`status` = 1 AND d.shop_id = #{shopId} 
			AND (d.dishes_name = #{keyword} OR dc.dishes_class_name = #{keyword}) 
		ORDER BY dc.serial_no, d.serial_no 
	</select>

</mapper>
