<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhefan.yummy.dao.OrderDAO">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zhefan.yummy.entity.Order">
		<id column="id" property="id" />
		<result column="gerent_id" property="gerentId" />
		<result column="shop_id" property="shopId" />
		<result column="order_number" property="orderNumber" />
		<result column="price" property="price" />
		<result column="creation_time" property="creationTime" />
		<result column="process_time" property="processTime" />
		<result column="book" property="book" />
		<result column="book_id" property="bookId" />
		<result column="status" property="status" />
		<result column="area_name" property="areaName" />
		<result column="table_name" property="tableName" />
		<result column="being" property="being" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, gerent_id, shop_id, order_number, price, creation_time, process_time, book, book_id, status, area_name, table_name, being
    </sql>
    
    <select id="selectDetailFull" resultType="com.zhefan.yummy.vo.OrderDetailVO">
    	SELECT id, 
			order_id orderId, 
			count, 
			price, 
			dishes_type_name dishesTypeName, 
			dishes_name dishesName, 
			creation_time creationTime 
		FROM `t_order_detail` 
		WHERE order_id = #{id} 
    </select>

	<resultMap type="com.zhefan.yummy.vo.OrderVO" id="OrderVOID">
		<association property="orderDetails" select="selectDetailFull" column="id"></association>
	</resultMap>
	<select id="queryMobileListAll" resultMap="OrderVOID">
		SELECT 
			id, 
			gerent_id gerentId, 
			shop_id shopId, 
			order_number orderNumber, 
			price, 
			creation_time creationTime, 
			process_time processTime, 
			book, 
			book_id bookId, 
			status, 
			area_name areaName, 
			table_name tableName
		FROM `t_order` 
		WHERE being = 1 
		AND shop_id = #{shopId} 
		AND book_id = #{bookId} 
		AND order_number like #{keyword} 
		ORDER BY id DESC 
	</select>
	
</mapper>
