<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhefan.yummy.dao.RoleDAO">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zhefan.yummy.entity.Role">
		<id column="id" property="id" />
		<result column="role_name" property="roleName" />
		<result column="creation_time" property="creationTime" />
		<result column="creator" property="creator" />
		<result column="creator_id" property="creatorId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_name, creation_time, creator, creator_id
    </sql>

</mapper>
