<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhefan.yummy.dao.TableDAO">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zhefan.yummy.entity.Table">
		<id column="id" property="id" />
		<result column="shop_id" property="shopId" />
		<result column="table_type_id" property="tableTypeId" />
		<result column="area_id" property="areaId" />
		<result column="table_name" property="tableName" />
		<result column="creator_id" property="creatorId" />
		<result column="creation_time" property="creationTime" />
		<result column="remark" property="remark" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shop_id, table_type_id, area_id, table_name, creator_id, creation_time, remark
    </sql>

</mapper>
