<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhefan.yummy.dao.UserDAO">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zhefan.yummy.entity.User">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="avatar" property="avatar" />
		<result column="password" property="password" />
		<result column="creation_time" property="creationTime" />
		<result column="status" property="status" />
		<result column="openid" property="openid" />
		<result column="unionid" property="unionid" />
		<result column="nickname" property="nickname" />
		<result column="sex" property="sex" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="country" property="country" />
		<result column="headimgurl" property="headimgurl" />
		<result column="privilege" property="privilege" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, avatar, password, creation_time, status, openid, unionid, nickname, sex, province, city, country, headimgurl, privilege
    </sql>

</mapper>
